<!-- end header inner -->
<!-- end header -->
<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span style="font-family: 'Rajdhani', sans-serif;" class="blodark text-animation"> Luyện tập </span> <br>Miễn phí</h1>
                    <p>Ôn tập kiến thức hiệu quả các môn học</p>
                    <p>Dành riêng cho sinh viên CNTT HUTECH</p>
                    <a class="read_more" href="@Url.Action("ListClassTest", "Classses")">Luyện tập ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="~/Content/images/hutechback.jpg" alt="#" /></figure>
                    <br>
                    <figure><img src="~/Content/images/hutechback2.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- project section -->
<div style="margin: -40px 0px;" id="project" class="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Môn học</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="product_main">
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/c.png" alt="#" />
                            <br>
                            <h1>Lập trình C</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/ktlt.png" alt="#" />
                            <br>
                            <h1>Kỹ thuật lập trình</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/oop.png" alt="#" />
                            <br>
                            <h1>Hướng đối tượng</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/ai.png" alt="#" />
                            <br>
                            <h1>Trí tuệ nhân tạo</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/software-engineer.png" alt="#" />
                            <br>
                            <h1>Công tác kỹ sư</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/database.png" alt="#" />
                            <br>
                            <h1>Cơ sở dữ liệu</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/security.png" alt="#" />
                            <br>
                            <h1>Bảo mật thông tin</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/server.png" alt="#" />
                            <br>
                            <h1>An toàn máy chủ</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/network.png" alt="#" />
                            <br>
                            <h1>Mạng máy tính</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/ctdl.png" alt="#" />
                            <br>
                            <h1>Cấu trúc dữ liệu và giải thuật</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/systems.png" alt="#" />
                            <br>
                            <h1>Hệ điều hành</h1>
                        </div>
                    </div>
                </div>
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/eng.png" alt="#" />
                            <br>
                            <h1>Tiếng Anh 1</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="@Url.Action("ListClass","Classses")">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end project section -->
<!-- fashion section -->
<!-- end fashion section -->
<!-- news section -->
<div style="margin: -20px 0px;" class="comment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Bài Viết</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <a href="@Url.Action("AddPosts","Posts")">
            <div>
                <h1>Bạn có điều muốn hỏi?</h1>
                <textarea class="col-md-12" placeholder="Bạn ơi nhập bài muốn hỏi vào đây..." rows="3"></textarea>
            </div>
        </a>
        <div class="row">
            <div class="col-md-12 margin_top40">
                <div class="row d_flex">
                    <div class="col-md-12">
                        <div class="comment_text">
                            <div class="comment_user">
                                <img style="width: 42px; height: 42px" src="~/Content/images/giao-duc-cong-dan.png" alt="#" />
                                <h3>Lê Hoài Lộc</h3>
                            </div>
                            <h3>Lựa chọn ngôn ngữ</h3>
                            <span>08/04/2023</span>
                            <br>
                            <br>
                            <div class="col-md-12">
                                <div>
                                    <p>Cho mình hỏi mới bắt đầu học thì nên chọn ngôn ngữ nào để tiếp cận ạ?</p>
                                </div>
                                <div style="text-align: center">
                                    <img class="comment_img" src="~/Content/images/Programming-Languages.jpg" alt="#" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end news section -->
<!-- newslatter section -->
<div style="margin:-10px 0px;" class="newlesson">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <h3 class="neslatter">Nhận thông báo từ trang web</h3>
            </div>
            <div class="col-md-12">
                <h3>Bạn sẽ nhận được những thông báo mới nhất từ trang web.</h3>
                <h3>Đăng ký ngay để được nhận mail hỗ trợ.</h3>
            </div>
            <div class="col-md-12">
                <form class="news_form">
                    <input class="col-md-5 letter_form" placeholder=" Nhập email của bạn" type="text" name="Enter your email">
                    <button class="col-md-2 sumbit">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- begin footer -->
<footer>
    <div style="background-color: rgb(255,165,0); padding: 50px 0px 40px 0px;" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 class="inror_title">NHIỆM VỤ </h3>
                        <li class="inror_items"><img src="/Content/images/environment (1).png" alt=""> LK Website</li>
                        <li class="inror_items">   Nơi hỗ trợ các bạn sinh viên IT Hutech ôn tập kiến thức bằng hình thức trắc nghiệm, cùng nhau chia sẻ kiến thức khối ngành Công nghệ thông tin.</li>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 style="margin-bottom:10px;" class="inror_title">THEO DÕI CHÚNG TÔI  </h3>
                        <a style="padding:20px;" href="https://www.facebook.com">
                            <img height="60" width="60" src="~/Content/images/facebook.png" />
                        </a>
                        <a href="https://www.instagram.com">
                            <img height="60" width="60" src="~/Content/images/instagram.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 class="inror_title">LIÊN HỆ  </h3>
                        <li class="inror_items"><i class="fa fa-map-marker"></i> Số 207, Đường 3/2, quận Thiên Sứ, thành phố Giấc Mơ</li>
                        <li class="inror_items"><i class="fa fa-phone"></i> 0353854616</li>
                        <li class="inror_items"><i class="fa fa-envelope-o"></i> anhloc@gmail.com</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Content/js/custom.js"></script>


